@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700&display=swap');

:root{
    /* -------- COLORS --------*/
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --gray: rgb(128, 128, 128);
    --purple: rgb(156, 87, 203);
    --line-blue: rgb(0, 119, 182);
    --bg-light-blue: rgb(236, 246, 255);
    --bg-header: linear-gradient(70deg, rgb(0, 180, 216) 0, rgb(0, 119, 182) 40%, rgb(1, 42, 74) 100%);
    --button-color: linear-gradient(140deg, rgb(156, 87, 203) 0, rgb(113, 67, 191) 100%);
    --icons-hover: rgb(0, 180, 216);
    --button-color-hover: linear-gradient(280deg, rgb(156, 87, 203) 0, rgb(113, 67, 191) 100%);
    /* -------- FONTS --------*/
    --logo-slogan: 'Bebas Neue', cursive;
    --font-main: 'Poppins', sans-serif;
}

body{
    font-size: 14px;
    position: relative;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background: rgba(0, 180, 216, 0.8);
    border-radius: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

/* HEADER PRINCIPAL */

.nav{
    width: 100%;
    height: 127.5px;
    background: var(--bg-header);
    padding: 22.5px 15px;
    font-size: var(--font-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.header__logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-img{
    height: 26.25px;
    margin-right: 22.5px;
}

.header__logo-name{
    font-size: 1.60em;
    font-family: var(--logo-slogan);
    color: var(--white);
}

.header__menu{
    width: 100%;
    max-width: 363.75px;
    margin: 7.5px 0;
}

.header__options{
    display: inherit;
    width: auto;
}

.header__options a{
    display: flex;
    align-items: center;
}

.header__options-login,
.header__options-cart{
    width: 26.5px;
    height: 26.5px;
    border: 1.5px solid var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.9s;
    cursor: pointer;
}

.header__options-login{
    margin-right: 15px;
}

.header__icon{
    height: 13.125px;
    width: auto;
    transition: all 0.9s;
}

.header__options-login:hover,
.header__options-cart:hover{
    border: 1.5px solid var(--icons-hover);
    box-shadow: 0 0 7px var(--icons-hover);
}

.header__options-login:hover .header__icon,
.header__options-cart:hover .header__icon{
    fill: var(--icons-hover);
} 

.container-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header__menu-links a{
    color: var(--white);
    text-decoration: none;
    font-size: 0.75em;
    transition: all 0.9s;
}

.header__menu-links:hover a{
    color: var(--icons-hover);
}

.header__search{
    width: 100%;
    border: none;
    outline: none;
    padding: 7.5px 22.5px;
    border-radius: 30px;
}

::placeholder{
    font-family: var(--font-main);
    color: rgba(128, 128, 128,.6);
    font-size: 0.80em;
}

/* DESCRIPTION PRODUCT*/

.product__container {
    width: 90%;
    height: auto;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 30px auto;
    font-family: var(--font-main);
}

.product__img {
    width: 100%;
    height: 227.25px;

    background-image: url(assets/New.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.product__info {
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.info__title {
    font-size: 1.60em;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
}
.info__price {
    font-size: .91em;
    font-weight: 400;
}

.info__price-purple {
    font-size: 1.07em;
    color: var(--purple);
    font-weight: 700;
    margin-left: 10px;
}

.product__delivery {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.delivery__icon {
    height: 26.25px;
}

.delivery__copy {
    font-size: .91em;
    font-weight: 400;
}

.product__specifications {
    height: 140px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.specifications__title {
    font-size: .91em;
    text-align: center;
    font-weight: 500;
}

.specifications__menu {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.specifications__menu-item {
    color: var(--purple);
}

.item-color {
    color: var(--gray);
    font-size: .80em ;
    font-weight: 400;
}

.products__butons {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.product__buton {
    width: 115px;
    height: 26.75px;

    background: none;
    border: none;
    border-radius: 25px;

    font-size: .80em;
    font-weight: 400;
    cursor: pointer;
}

.buton-white {
    background: var(--white);
    border: solid 1px var(--purple);
    color: var(--purple);
}

.buton-purple {
    background: var(--purple);
    color: var(--white);
}

/* Cards */

.more__products {
    width: 90%;
    margin: 0 auto;
}

.more__title {
    font-size: 2.34em;
    font-weight: 700;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 20px;
}
.more__grid {
    max-width: 1200px;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
.more__card {
    width: 255px;
    height: auto;
    border-radius: 20px;
    margin: 40px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s;
    padding-bottom: 45px;
    cursor: pointer;
}

.more__card:hover {
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.more__card-img {
    width: 255px;
    height: 225px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.img1{
    background-image: url(assets/motoG100.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2{
    background-image: url(assets/iMAC.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img3{
    background-image: url(assets/MatePad.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img4{
    background-image: url(assets/Freebods.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.more__card-product {
    text-align: center;
    margin-top: 20px;
    font-size: 1.30em;
    font-weight: 500;
}

.more__card-price {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 400;
}

/* FOOTER */

.footer {
    width: 100%;
    background: var(--bg-light-blue);
    margin-top: 45px;
}

.smarttech {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smarttech__logo {
    width: 100%;

    display: flex;
    align-items: center;
    padding: 30px 0 30px 20px;
}

.logo__footer {
    height: 35px;
    margin-right: 30px;
}

.logo__title {
    text-align: center;
    font-family: var(--logo-slogan);
    font-size: 1.60em;
    font-weight: normal;
}

.smarttech__pay {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    padding: 0 20px;
}

.smarttech__copy {
    text-align: justify;
    padding: 0 20px 30px 20px;
}

.payment-methods {
    width: 46.67px;
    height:26.25px ;
}

.contact {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.us {
    width: 100%;

    padding: 20px;
}

.us__title {
    font-size: .92em;
    font-weight: 500;
    text-align: center;
}

.us__methods {
    display: flex;
    align-items: center;
}

.method__title {
    font-size: .80em;
    font-weight: 400;
    padding: 10px;
    
}

.social {
    width: 100%;
    padding: 0 20px;
}

.social__title {
    font-size: .92em;
    font-weight: 500;
    text-align: center;
}

.social-media {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.copyrigth {
    padding: 20px 20px;
    text-align: center;
}

.copyrigth__p {
    font-size: 1em;
    font-weight: 400;
    color: var(--gray);
}


@media screen and (min-width: 500px) and (max-width:1030px){
    body{
        font-size: 15px;
    }

    /* HEADER PRINCIPAL */

    .nav{
        height: 150.75px;
    }

    .header__logo-img{
        height: 37.5px;
    }
    
    .header__logo-name{
        font-size: 2.14em;
    }

    .header__logo{
        order: 1;
    }

    .header__menu{
        order: 2;
    }

    .header__options{
        order: 3;
    }

    .header__search{
        order: 4;
    }

    .header__menu-links a{
        font-size: 1.07em;
    }

    .header__options-login,
    .header__options-cart{
        width: 37.5px;
        height: 37.5px;
    }

    .header__options-login{
        margin-right: 30px;
    }

    .header__icon{
        height: 18.75px;
        width: auto;
    }

    .header__menu{
        margin: 0;
    }

    .header__search{
        margin-top: 30px;
    }

    ::placeholder{
        font-size: 1.07em;
    }

    /* DESCRIPTION PRODUCT*/

    .product__container { 
        width: 60%;
    }
    
    .product__img{
        height: 454.5px;
    }

    .product__delivery {
        width: 50%;
    }

    .info__title{
        text-align: center;
    }

    .product__info{
        padding: 0 20px;
    }

    .more__card {
        margin: 10px 20px;
    }

    /* FOOTER */

    .footer{
        padding-top: 30px;
    }

    .media {
        display: flex;
        justify-content: space-evenly;
    }
    .smarttech {
        width: 45%;
    }

    .smarttech__logo{
        padding: 20px 0 20px 20px;
    }

    .smarttech__logo {
        width: 100%;
    }

    .logo__title {
        padding-left: 5% ;
    }
    .contact {
        width: 40%;
    }

    .copyrigth__p {
        text-align: center;
    }
}

@media screen and (min-width: 1030px) and (max-width: 1700px){
    body{
        font-size: 16px;
    }

    /* HEADER PRINCIPAL */

    .nav{
        height: 97.5px;
        padding: 0 75px;
    }

    .header__logo-img{
        height: 37.5px;
    }
    
    .header__logo-name{
        font-size: 2.14em;
    }

    .header__logo{
        order: 1;
    }

    .header__menu{
        order: 3;
    }

    .header__options{
        order: 4;
    }

    .header__search{
        width: 375px;
        order: 2;
    }

    .header__menu-links a{
        font-size: 0.95em;
    }

    .header__options-login,
    .header__options-cart{
        width: 37.5px;
        height: 37.5px;
    }

    .header__options-login{
        margin-right: 30px;
    }

    .header__icon{
        height: 18.75px;
        width: auto;
    }

    .header__menu{
        margin: 0;
    }

    .header__search{
        margin-top: 0px;
    }

    ::placeholder{
        font-size: 1.07em;
    }

    /* DESCRIPTION PRODUCT*/

    .product__container {  
        display: flex;
        justify-content: space-between;
    }

    .product__img {
        width: 637.5px;
        height: 422px;
        border-radius: 20px 0 0 20px;
    }

    .product__info {
        width: 45%;
        align-items: flex-start;
    }

    .info__title{
        text-align: left;
    }

    .product__delivery {
        width: 80%;
        align-items: flex-start;
        text-align: left;
    }
    .specifications__title {
        text-align: left;
    }

    /* FOOTER */

    .footer{
        padding-top: 30px;
    }

    .media {
        display: flex;
        justify-content: space-evenly;
    }

    .smarttech {
        width: 35%;
    }

    .smarttech__logo {
        padding: 20px 0 20px 20px;
    }

    .contact {
        width: 30%;
    }

    .copyrigth__p {
        text-align: center;
    }
}